adf/pipeline/Move_Doctor_To_raw_Pipeline.json
{
	"name": "Move_Doctor_To_raw_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.input_folder",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.input_filename",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Doctor_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Doctor_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Specialization",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Specialization",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Shift_Timing",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Shift_Timing",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Contact_Info",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Contact_Info",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Input_dataset",
						"type": "DatasetReference",
						"parameters": {
							"input_folder": {
								"value": "@pipeline().parameters.input_folder",
								"type": "Expression"
							},
							"input_filename": {
								"value": "@pipeline().parameters.input_filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "raw_op_dataset",
						"type": "DatasetReference",
						"parameters": {
							"output_folder": {
								"value": "@pipeline().parameters.output_folder",
								"type": "Expression"
							},
							"output_file": {
								"value": "@concat(pipeline().parameters.output_file_name,'_',formatDateTime(utcNow(),'yyyy-MM-dd'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Input_dataset",
						"type": "DatasetReference",
						"parameters": {
							"input_folder": {
								"value": "@pipeline().parameters.input_folder",
								"type": "Expression"
							},
							"input_filename": {
								"value": "@pipeline().parameters.input_filename",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorageInputLinkedService",
							"type": "LinkedServiceReference"
						},
						"path": "input"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@pipeline().parameters.input_filename",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "SuccessEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-19.northcentralus.logic.azure.com:443/workflows/f079bfe16aac458ea6761cf97e347edf/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=VrUV0KEjDFElws7IcSNAMjcDhoJNdJyGjykteM9F8bo",
					"body": {
						"value": "{\n        \"pipeline_name\": \"@{pipeline().Pipeline}\",\n        \"pipeline_id\": \"@{pipeline().RunId}\",\n        \"error_message\":\"None\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure_Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-19.northcentralus.logic.azure.com:443/workflows/f079bfe16aac458ea6761cf97e347edf/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=VrUV0KEjDFElws7IcSNAMjcDhoJNdJyGjykteM9F8bo",
					"body": {
						"value": "{\n        \"pipeline_name\": \"@{pipeline().Pipeline}\",\n        \"pipeline_id\": \"@{pipeline().RunId}\",\n        \"error_message\":\"@{activity('Execute Pipeline1').error_message}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SuccessEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_Refine_Doctor",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"input_folder": {
				"type": "string",
				"defaultValue": "hospital"
			},
			"input_filename": {
				"type": "string",
				"defaultValue": "*Doctor_Large.csv"
			},
			"output_folder": {
				"type": "string",
				"defaultValue": "raw/doctor"
			},
			"output_file_name": {
				"type": "string",
				"defaultValue": "Doctor"
			}
		},
		"folder": {
			"name": "raw_movement_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-09T11:24:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}